<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="fabiano.nhoatto">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>DIMENSUR</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signin.css') }}">
    <style>

      .info {
        background-color: #d9dedf;
      }  
      .danger {
        background-color: #dfd9d9;
      }
      .success {
        background-color: #d9dfd9;
      }
    </style>
  </head>

  <body class="text-center {{tipo}}">
    <form class="form-signin" method="post" action="">
      <a onclick="history.back()" style="cursor: pointer;">
        <img class="mb-5" src="{{ url_for('static', filename='img/'+tipo+'.png') }}" alt="" width="170" height="190">
      </a>
      {% if msg %}
      <div class="alert alert-{{tipo}}" role="alert">
        {{ msg }}
      </div>
      {% endif %}
      <br class="mb-4">
      <a href="/" class="btn btn-lg btn-outline-{{tipo}} btn-block" value="Login">Voltar</a>
      <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </form>
  </body>
</html>