<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="fabiano">
    <title>Questionário</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    
    <div class="container">
      {% include "includes/navbar.html" %}
      <!-- Modal -->
      <div class="modal fade" id="modalajuda" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Informações</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              escrever aqui informações como contato e talz...
            </div>
          </div>
        </div>
      </div>
      {% if not questionario %}
      <div class=" py-5 my-5">
        <div class="alert alert-danger" role="alert">
          Questionario não encontrado!
        </div>
      </div>
      {%else%}
      <div class="jumbotron">
        <div class=" d-flex flex-column flex-md-row">
          <div class="col-12 col-md-8">
          <h2>{{questionario.titulo}}</h2>
          <p>{{questionario.descricao}}</p>
          </div>
          
        </div>
      </div>
      <div class="questionario">
        <!-- <h3>Explore os dados</h>
        <p class="lead text-muted">Um estudo com base nas dimensôes de inovação foi aplicado na instituição visando mensurar a qualidade da cultura da inovação. Agora você pode explorar esses dados e conhecer o atual estado que nossa instituição</p>
        </div> -->
        <hr>
        <div id="msgErro" class="alert alert-danger" role="alert">
          Favor preencher corretamente as questões
        </div>
        <form id="{{questionario.id|safe}}" action="{{ '/questionarios/' + questionario.id|safe }}" method="POST" class="form">
          
        <div class="row blocoShow px-2" id="show-1">
          <!-- <h3>Dados Institucionais</h3> -->
          <!-- <p>There are five tiers to the Bootstrap grid system, one for each range of devices we support. Each tier starts at a minimum viewport size and automatically applies to the larger devices unless overridden.</p> -->
          <div class="form-group col-md-4">
            <label for="exampleFormControlInput1">Nome</label>
            <input type="text" class="form-control" name="nome" id="nome" placeholder="nome" required>
          </div>
          <div class="form-group col-12 col-md-4">
            <label for="exampleFormControlInput1">Email</label>
            <input type="email" class="form-control"  name="email" id="email" placeholder="name@example.com" required>
          </div>
          <div class="form-group col-12 col-md-4">
            <label for="genero">Gênero</label >
            <select class="form-control" name="genero" id="genero" required>
              <option disabled selected>selecionar</option>
              <option value="feminino">Feminino</option>
              <option value="masculino">Masculino</option>
              <option value="outro">Outro</option>
            </select>
          </div>
          <div class="form-group col-12 col-md-4">
            <label for="exampleFormControlSelect1">Idade</label >
            <select class="form-control" name="idade" name="idade" required>
              <option disabled selected>selecionar</option>
              <option value="1">18 a 25 anos</option>
              <option value="2">26 a 35 anos</option>
              <option value="3">36 a 45 anos</option>
              <option value="4">46 a 55 anos</option>
              <option value="5">Mais de 55 anos</option>
            </select>
          </div>
          <div class="form-group col-12 col-md-4">
            <label for="exampleFormControlSelect1">Unidade</label>
            <select class="form-control" name="unidade" required id="unidade">
              <option disabled selected>selecionar</option>
              {% for a in unidades%}
              <option value="{{a.id}}">{{a.sigla}}</option>
              {% endfor%}
            </select>
          </div>
          <div class="form-group col-12 col-md-4">
            <label for="exampleFormControlSelect1">Cargo</label>
            <select class="form-control" name="cargo" id="cargo" required>
              <option disabled selected>selecionar</option>
              {% for a in cargos%}
              <option value="{{a.id}}">{{a.nome}}</option>
              {% endfor%}
            </select>
          </div>
        </div>
          <div class="row py-2 blocoShow" id="show-2">
          <div class="form-group col-12 col-md-4">
            <label for="exampleFormControlSelect1">Area</label>
            <select class="form-control" name="area" id="area" required>
              <option disabled selected>selecionar</option>
              {% for a in areas%}
              <option value="{{a.id}}">{{a.nome}}</option>
              {% endfor%}
            </select>
          </div>
          <div class="form-group col-12 col-md-4">
            <label for="exampleFormControlSelect1">Tempo na instituição</label>
            <select class="form-control" name="tempo" id="tempo" required>
              <option disabled selected>selecionar</option>
              <option value="1">Menos de 2 anos</option>
              <option value="2">Entre 3 a 6 anos</option>
              <option value="3">Entre 7 a 10 anos</option>
              <option value="4">Entre 11 a 15 anos</option>
              <option value="5">Mais de 15 anos</option>
            </select>
          </div> 
          <div class="form-group col-12 col-md-4">
            <label for="exampleFormControlSelect1">Escolaridade</label>
            <select class="form-control" name="escolaridade" id="escolaridade" required>
              <option disabled selected>selecionar</option>
              <option value="Médio">Ensino médio</option>
              <option value="Graduado">Graduado</option>
              <option value="Especialista">Especialista</option>
              <option value="Mestrado">Mestrado</option>
              <option value="Doutorado">Doutorado</option>
            </select>
          </div> 
          <div class="form-group col-12 col-md-4">
            <label for="exampleFormControlSelect1">Experiência Anterior</label>
            <select class="form-control" name="experiencia" id="experiencia" required>
              <option disabled selected>selecionar</option>
              <option value="iniciativa_privada">Sim, na iniciativa privada</option>
              <option value="Serviço_público">Sim, no serviço público</option>
              <option value="Não">Não possuo</option>
            </select>
          </div> 
          <div class="form-group col-12 col-md-4">
            <label for="exampleFormControlSelect1">Formação em Inovação</label>
            <select class="form-control" name="formacaoInovacao" id="formacaoInovacao" required>
              <option disabled selected>selecionar</option>
              <option value="Sim">Sim</option>
              <option value="Não">Não</option>
            </select>
          </div> 
        </div>

        <div class="row">
          <!-- <h3>Perguntas Dimensionais</h3> -->
          {% for dimensao in questionario.dimensoes() %}
            <!-- <h5 class="text-success mt-5">{{ dimensao.titulo }}</h5> -->
            {% for grupo in questionario.grupos() %}
              {% if grupo.dimensao_id == dimensao.id %}
                <div class="row blocoShow px-3 " id="show-{{grupo.id + 2}}">
                  <div class="px-3 col-12">
                    <div class="alert alert-primary col-12" role="alert">
                      As perguntas se baseiam em uma escala de 1 a 5, sendo 5 a pontuação máxima.
                    </div>
                  </div>
                  
                  <p class="pt-3 pb-2 font-weight-bold col-12">{{ grupo.titulo }}</p> 
                  {% for pergunta in grupo.perguntas() if pergunta.tipo == 3 %}
                    {% if pergunta.grupo_id == grupo.id %}                      
                    <div class="d-block p-1 w-100 py-4 mb-md-0 border-bottom pergunta">
                      <div id="id-{{pergunta.id}}"  class="col col-md-8 pl-3 text-secondary h6" style="font-size:14px">{{ pergunta.titulo }}</div>
                      <div class="col col-md-4 input-group">
                        <div>
                          <input type="radio" class="btn-check d-none" name="{{pergunta.id}}" id="{{pergunta.id}}.1" value="1" autocomplete="off" required>
                          <label class="btn-check btn btn-outline-primario m-1" style="font-size:14px" referencia="{{pergunta.id}}" for="{{pergunta.id}}.1">1</label>
                        </div>
                        <div>
                          <input type="radio" class="btn-check d-none" name="{{pergunta.id}}" id="{{pergunta.id}}.2" value="2" autocomplete="off">
                          <label class="btn-check btn btn-outline-primario m-1" style="font-size:14px" referencia="{{pergunta.id}}" for="{{pergunta.id}}.2">2</label>
                        </div>
                        <div>
                          <input type="radio" class="btn-check d-none" name="{{pergunta.id}}" id="{{pergunta.id}}.3" value="3" autocomplete="off">
                          <label class="btn-check btn btn-outline-primario m-1" style="font-size:14px" referencia="{{pergunta.id}}" for="{{pergunta.id}}.3">3</label>
                        </div>
                        <div>
                          <input type="radio" class="btn-check d-none" name="{{pergunta.id}}" id="{{pergunta.id}}.4" value="4" autocomplete="off">
                          <label class="btn-check btn btn-outline-primario m-1" style="font-size:14px" referencia="{{pergunta.id}}" for="{{pergunta.id}}.4">4</label>
                        </div>
                        <div>
                          <input type="radio" class="btn-check d-none" name="{{pergunta.id}}" id="{{pergunta.id}}.5" value="5" autocomplete="off" >
                          <label class="btn-check btn btn-outline-primario m-1" style="font-size:14px" referencia="{{pergunta.id}}" for="{{pergunta.id}}.5">5</label>
                        </div>
                      </div>
                    </div>
                    {%endif%}
                    {% endfor %}
                </div>
              {%endif%}
            {% endfor %}
          {% endfor %}
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
          <div class="my-4 d-flex justify-content-center" >
            <button id="btnProximo" type="button" class="btn btn-block btn-secundario">Próximo</button>
            <button id="btnSubmit" type="submit" class="btn btn-block btn-warning">Enviar</button>
          </div>
          
        </form>    
      </div>
      {%endif%}
    </div>
  </body>
  <hr>
  <footer class=" text-muted text-center text-small">
    <p class="mb-1">© 2022 Mensuração da Cultura de Inovação</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="http://www.ufopa.edu.br/ufopa/" class="texto-primario">UFOPA</a></li>
      <!-- <li class="list-inline-item"><a href="http://www.ufopa table-headless.edu.br/ctic/">CTIC</a></li> -->
      <!-- <li class="list-inline-item"><a href="http://www.ufopa.edu.br/ait/">AIT</a></li> -->
      <li class="list-inline-item"><a href="http://www.profnit.org.br/pt/sample-page/" class="texto-primario">PROFNIT</a></li>
    </ul>
  </footer>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}" ></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootselfilter.js') }}"></script>
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/dc.js') }}"></script> -->
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script> -->
  <script>

  let totalGrupos = {{ total_grupos | safe}}

  function verificaGrupo(grupo){
    if(grupo==1){
      questionario = $("form").attr('id')
      email = $('input[name="email"]').val()
      return verificaResposta(grupo, questionario, email)
    }
    else return validarFormulario(grupo)


  }
  function verificaResposta(grupo, questionario, email) {
    $.ajax({
      url: `/verificar-resposta?questionario=${questionario}&email=${email}`,
      type: "GET",
      success: function (result) {
        if(result.msg=='false') {
          if(validarFormulario(grupo)) proximo(grupo)
        } 
        else{
          $("#msgErro").text('Você já respondeu este questionário')
          $("#msgErro").show()
          return false
        }
      },
    });
  }

  function validarFormulario(grupo){
    let inputs = $("#show-"+grupo +" input")
    for(let i = 0; i < inputs.length; i++){
      let val= $(inputs[i]).val();
      if(!val){
        $("#msgErro").text('Parece que você esqueceu alguma pergunta')
        $("#msgErro").show()
        return false
      }
    }

    let selects = $("#show-"+grupo +" select")
    for(let i = 0; i < selects.length; i++){
      let val= $(selects[i]).val();
      if(!val){
        $("#msgErro").text('Parece que você esqueceu alguma pergunta')
        $("#msgErro").show()
        return false
      }
    }

    let radios = $("#show-"+grupo +" .btn-check")
    let radiosCheck = $("#show-"+grupo +" .btn-check-ativo")
    if(radiosCheck.length < 3 & radios.length > 0){

      $("#msgErro").text('Parece que você esqueceu alguma pergunta')
      $("#msgErro").show()
      return false
    }
    
    return true
  }
  function proximo(){
    $("#msgErro").hide()
    idShow+=1
    $('.progress-bar').css('width', idShow*100/19+"%");
    $(".blocoShow").hide()
    $("#show-"+idShow).show()
    if(idShow == totalGrupos -2){
      $("#btnSubmit").show()
      $("#btnProximo").hide()
    }
  }
  var idShow = 1
    $(document).ready(function(){  
      $("#btnSubmit").click(function(){
        $(".blocoShow-1").show()
      })     
      $("#msgErro").hide()
      $(".blocoShow").hide()
      $("#show-1").show()
      $("#btnSubmit").hide()
      $("#btnProximo").click(function(){
        if(verificaGrupo(idShow)){
          proximo(idShow)
        }
      })
      $("label.btn-check").click(function(){
        let re =  $(this).attr("referencia");
        $('label.btn-check[referencia='+re+']').removeClass('btn-check-ativo');
        $(this).addClass('btn-check-ativo');
      });


      // $("label").click(function(id){
      //   let pergunta = parseInt($(this).attr("referencia"));
      //   window.location.hash = 'id-' + (pergunta+1);
        // $( window ).scrollTop( $( 'id-' + (pergunta+1) ).offset().top + 60 );
        // $('html, body').animate({
        //     scrollTop: $('id-' + (pergunta+1)).offset().top
        // }, 0);
        // scrollTop: $('id-' + (pergunta+1)).offset(50).top
      // });
    });
  </script>
</html>
